*{box-sizing: border-box; margin: 0;padding: 0;}

:root {
    font-size: 21px;
}

.container {
    color: white;
    background-color: #23424A;
    /* border: 1px solid red; */
}

h1 {
    font-size: 3rem;
}

.intro {
    /* border: 1px solid green; */
    margin: 0 auto;
    padding: 3em;
    max-width: 750px;
}
.intro p {
    margin-bottom: 3em;
}
.intro__text {
    /* border: 1px solid red; */
    width: 70%;
}

.btn {
    display: inline-block;
    color: inherit;
    /* padding: 1rem 2rem;
    border-radius: 2rem; */
    padding: .75em 2em;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38CFD9;
}

/* adding some anmation to hover btn */
.btn:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}