*{box-sizing: border-box; margin: 0;padding: 0;}

:root {
    font-size: 16px;
}

.container {
    color: white;
    background-color: #23424A;
    margin: 0 auto;
}
.intro {
    padding: 3em;
    /* 
        In this first week, we've looked at:
            1. Using percentages for widths
            2. Avoiding to set heights
            3.Using max-width 
    */
    /* While there is nothing overly complicated with any of that, being comfortable with these things is the key to mastering responsive layouts. */
   max-width: 750px;
}

.btn {
    display: inline-block;
    color: inherit;
    /* padding: 1rem 2rem;
    border-radius: 2rem; */
    padding: 1em 2em;
    border-radius: 2em;
    text-decoration: none;
    background-color: #38CFD9;
}

/* adding some anmation to hover btn */
.btn:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}