@import url('https://fonts.googleapis.com/css?family=Rubik:300,700');
html {
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: flex;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.col {
    flex:1;
    padding: 0 1em;
    /* border: 1px solid red; */
}

h1 {
    color: steelblue;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: steelblue;
    padding: 1em 4em;
}

.hero {
    background:linear-gradient(to left,#f5f5f5,steelblue);
    padding: 10vh;

    height: 100vh;
}

.hero-img {
    box-shadow: 3px 3px 25px 5px rgba(0,0,0,0.5);
}

.more-content {
    background: url(//unsplash.it/800/400);
    background-size: cover;
    height: 1000px;
  }